<form [formGroup]="tokenStringForm" (ngSubmit)="verifyTokenString()">
  <div class="form-group">
    <label></label>
    <input type="text" class="form-control" placeholder="Enter Token String" formControlName="tokenString">
  </div>
  <button type="submit" class="btn btn-primary">Verify</button>
</form>

<hr/>

<table class='table' *ngIf="activeAltCoins">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let altCoin of activeAltCoins">
      <td>{{ altCoin.name }}</td>
      <td>
        <input type="button" value="Vote" (click)="voteAltCoin(7);" />
      </td>
    </tr>
  </tbody>
</table>
